button {
  position: absolute;
  bottom: 20px; /* Adjust spacing from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Centers the button horizontally */
}
.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Make inputs appear below labels */
label {
  display: block;
  margin-bottom: 5px; /* Adds spacing between label and input */
}

/*BOTTOM OF THE SHEET, AND UNDERNEATH/*






/* Make inputs appear below labels */
label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

/* Bottom section to align at the bottom of the page */
.bottom-section {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 20px; /* Space between page indicator and button */
}

.page-indicator {
  margin: 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
